.dropdownMenuButton {
	background-color: #4C8FA2;
	border: 10px solid #77B4C5;
	border-radius: 10px;
	transition: background .25s ease-in, transform .25s ease-in-out;
}
.dropdownMenuButton:hover {
	background-color: #77B4C5;
	transform: scale(1.1);
}
.archiveFollowing {
	margin-top: 20px;
}
.dropdown-item:hover {
	background-color: #4C8FA2;
}
.dropdown-menu {
	background-color: #77B4C5;
	margin-top: -5px;
}
.input-group .btn {
	border: 1px solid #DBF0F6;
}
.searchGlass {
	background-color: #77B4C5;
}
.searchGlass:hover {
	background-color: #4C8FA2;
}